lowercaseOutputName: true
attrNameSnakeCase: true
rules:
- pattern: metrics<name=(\S+)\.driver\.(.+)\.StreamingMetrics\.streaming\.(\S+)><>Value
  name: spark_streaming_$3
  labels:
    app_id: "$1"
    app_name: "$2"

- pattern: metrics<name=(\S+)\.driver\.(\S+)\.StreamingMetrics\.streaming\.(\S+)><>Value
  name: spark_streaming_$3
  labels:
    app_id: "$1"
    app_name: "$2"

- pattern: metrics<name=(\S+)\.driver\.spark\.streaming\.(\S+)\.totalDelay><>Value
  name: spark_streaming_totalDelay
  labels:
    app_id: "$1"
    app_name: "$2"

- pattern: metrics<name=(\S+)\.driver\.BlockManager\.memory\.(\S+)><>Value
  name: spark_block_manager_memory_$2
  labels:
    app_id: "$1"

- pattern: metrics<name=(\S+)\.driver\.DAGScheduler\.(.+)\.(\S+)><>Value
  name: spark_dag_scheduler_$2_$3
  labels:
    app_id: "$1"

- pattern: metrics<name=(\S+)\.driver\.jvm\.(\S+)><>Value
  name: spark_jvm_$2
  labels:
    app_id: "$1"

- pattern: metrics<name=(\S+)\.driver\.ExecutorAllocator\.(\S+)><>Value
  name: spark_executor_allocator_$2
  labels:
    app_id: "$1"

- pattern: metrics<name=(\S+)\.driver\.HiveExternalCatalog\.(\S+)><>Value
  name: spark_hive_external_catalog_$2
  labels:
    app_id: "$1"

- pattern: metrics<name=(\S+)\.driver\.CodeGenerator\.(\S+)><>Value
  name: spark_code_generator_$2
  labels:
    app_id: "$1"

- pattern: metrics<name=(\S+)\.driver\.LiveListenerBus\.(\S+)><>Value
  name: spark_live_listener_bus_$2
  labels:
    app_id: "$1"

- pattern: metrics<name=(\S+)\.driver\.(\S+)\.sqlexecution\.(\S+)><>Value
  name: spark_sql_execution_$3
  labels:
    app_id: "$1"
    app_name: "$2"
